@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Black.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

a {
    text-decoration: none;
    color: initial;
}

li {
    list-style: none;
}

body {
    padding: 20px;
    background-color: wheat;
    position: relative;
    height: 100vh;
    display: flex;
    flex-flow: column;
}

nav {
    flex: 0.05 1 auto;
    background-color: gray;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav>ul>a {
    float: right;
    list-style: none;
    padding: 10px;
    background-color: wheat;
    margin: 5px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    transition-duration: 0.3s;
}

nav>ul>a:hover,
#exit:hover {
    color: wheat;
    transform: translate(0, -6px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgb(37, 37, 37);
}

nav>ul>a:active,
#exit:active {}

#exit {
    background-color: rgb(255, 131, 129);
    cursor: pointer;
}

main {
    width: 100%;
    /* height: 80vh; */
    /* background-color: aqua; */
    flex: 2 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

footer {
    width: 100%;
    flex: 0.05 1 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#right_side {
    height: 100%;
    width: 100%;
    box-sizing: initial;
    flex: 1 1 auto;
    background-color: gray;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    /* overflow: hidden; */
}

#main_list_container {
    /* position: relative; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    /* padding: 10px; */
    flex-direction: column;
    /* justify-content: center; */
    /* text-align: center; */
}

#left_side {
    height: 100%;
    width: 100%;
    flex: 1 0.4 auto;
    background-color: rgba(128, 128, 128, 0.7);
    position: relative;
}

#functions {
    position: absolute;
    float: right;
    width: 100%;
    height: auto;
}

#functions>ul {
    float: right;
    padding-right: 10px;
}

#functions>ul>li {
    text-align: center;
}


/* about css */

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about>div {
    margin: 4em 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    line-height: 3em;
}

.right_side_list {
    z-index: 1;
    /* position: absolute; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    width: 100%;
}

.right_side_list>p {
    text-align: center;
}


/* #right_side>ul>* {
    margin: 10px;
}

#right_side>ul>ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
    position: relative;

    transition-duration: 00.3s;
    height: 0px;
    width: 100%;
    overflow: hidden;
} */

.drop_down_list {
    height: 0;
    overflow: hidden;
    transition-duration: 0.3s;
}

.drop_down_list>li {
    display: flex;
    justify-content: center;
    /* height: 0; */
}

.dropdown_images {
    width: 20px;
    height: 20px;
    /* display: flex; */
    /* margin: auto; */
    /* justify-content: center; */
}

.inputs_attributes {
    background-color: #333;
    color: wheat;
    text-align: center;
    border-radius: 5px;
    width: 80%;
    /* border: none; */
}

.inputs_attributes:focus {
    outline: none;
}

#attributes {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: rgba(20, 20, 20, 0.1);
    border-bottom-right-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

#attributes>ul>li {
    text-align: center;
    margin-top: 10px;
}

#result {
    width: 100%;
    height: 10%;
    position: absolute;
    /* background-color: black; */
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#show_result {
    text-align: center;
    color: wheat;
}